body {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Header */

.cont-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border: solid 1px #bbbbbb;
    line-height: 0.7;
}


/* Titulo */

.cont-title {
    display: flex;
    align-items: center;
}

.cont-title a {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    line-height: .3;
    color: rgb(55, 16, 196);
    text-decoration: none;
}


/* Menú */

.cont-nav {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.cont-nav ul li {
    list-style: none;
    display: inline;
}

.cont-nav a {
    color: #2d4bfb;
    text-decoration: none;
    font-size: 1.4em;
    padding: 10px;
}

.cont-nav a:hover {
    border-bottom: solid 8px #2dabfb;
}


/* Main */

.main {
    min-height: 120vh;
}


/* Footer */

.cont-ftr {
    color: #2d7bfb;
    background-color: #e7f1f7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 3fr 1fr 1fr;
    border-top: solid;
    z-index: 10000;
}

.cont-ftr a {
    text-decoration: none;
    color: #2d7bfb;
}

.cont-ftr-lft {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr .1fr .1fr;
    align-items: center;
    text-align: center;
}

.ftr-lft-lg {
    grid-column: 1/5;
    width: 100%;
}

.ftr-lft-lg img {
    width: 18%;
}

.ftr-lft-nm {
    grid-column: 1/5;
}

.ftr-lft-rs {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.ftr-rs {
    text-align: center;
}

.ftr-rs img {
    width: 30%;
}

.c-inst img {
    width: 50%;
}

.c-img-r img {
    width: 18%;
}

.cont-ftr-cnt {
    display: grid;
    align-items: center;
    text-align: center;
    grid-column: 3/5;
}

.ftr-cnt-btc {
    text-align: center;
}

.ftr-cnt-btc>button {
    background-color: rgb(16, 133, 196);
    color: #fff;
    text-decoration: none;
    padding: 1% 8%;
    border-radius: 10px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    font-size: 150%;
    transition: all .3s;
}

.ftr-cnt-btc>button:hover {
    background-color: rgb(5, 105, 158);
}

.cont-ftr-rgt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 5/7;
    align-items: center;
}

.ftr-rgt-icn {
    text-align: right;
}

.cont-ftr-md {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    border-top: solid;
    border-bottom: solid;
}

.ftr-md {
    border-right: solid;
}

.ftr-md:first-child {
    border-left: solid;
}

.cont-ftr-btm {
    grid-column: 1/7;
    text-align: center;
}